* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('sign\ up\ login\ background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    backdrop-filter: blur(0.3px);
    color: white;
    min-height: 300px;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.input-space {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-space input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 0.1px solid white;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}

.input-space input::placeholder {
    color: white;
}

.input-space i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -14.5px 0 24.5px; 
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 4px;
}

.remember-forgot a {
    color: rgb(229, 172, 172);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-button {
    width: 100%;
    height: 46px;
    background: #426558; 
    border: none;
    outline: none;
    border-radius: 39px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 15px;
    color: white; 
    font-weight: 600;
    margin-top: 20px; 
}

.login-button:hover {
    background: #5c6bc0; 
}

.register {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: white;
    text-decoration: none;
    font-weight: 650;
}

.register p a:hover {
    text-decoration: underline;
    cursor: pointer;
}
